
<h1>Store Location</h1>
<p>You can visit our store located in the heart of Dun Laoghire Harbour<p />
	<p>
	12 Harbour Road<br />
	Dun Laoghire<br />
	Co. Dublin<br />
	(Double Click right button on mouse on map to zoom in<br />and left to zoom out)
</p>
<table>
<tr>
<!--<td>
    <input id="addressinput" type="text" style="width: 447px" />   
</td>-->
<td>
    <input id="Button1" type="button" value="Click here to find store" onclick="return Button1_onclick()" /></td>
</tr>
<tr>
<td colspan ="2">
<div id ="map" style="height: 253px; width: 447px;" >
</div>
</td>
</tr>
</table>

